html,body {
    height: 100%;
    width: 100vw;
    padding:0;
    margin:0;
    background-repeat:no-repeat;
    background-size: cover;
    overflow-y:visible;
    overflow-x:hidden;
}

  
#root {
    width: 100vw;
    min-height: 100%;
    display: grid;
    place-items: center;
}
.wrapper {
    min-height: 100%;
    min-width: 100%;
    background-color: aliceblue;
}

#globe-add-notes {
    display:grid;
    grid-template-rows: 3fr,1fr;
    align-items: center;
}

.leaflet-container {
    width:90%;
    border-radius: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    aspect-ratio: 16 / 9;
}

nav {
    height:50px;
    width:100%;
    background-color: rgb(21, 72, 106);
    text-align: end;
    padding-top: 15px;
    margin-bottom: 20px;
}
.navBar {
    height:100%;
    /* width:100%; */
    color:white;
    font-size:26px;
    text-decoration: none;
    margin-right: 40px;
}
.navBar:hover {
    color:aquamarine;
    cursor:pointer;
}

h1 {
    padding:50px;
    text-align: center;
}

h3 {
    text-align: center;
}

.videos {
    margin: 10px;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.video {
    height:260px;
    width:310px;
}

.notes-add {
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: baseline;
    grid-gap: 40px;
   
}

.list {
   min-width: 500px;
    border-radius: 4px;
    list-style: none;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0;
    
}
.list h2 {
    text-align: center;
}

.single-note {
    max-width: fit-content;
    display:grid;
    grid-template-columns: 5fr 1fr;  
    border: grey solid 2px;
    border-radius: 5px;
    padding:8px; 
    margin-bottom: 10px;
}

.single-note:nth-child(odd) {
    background-color: rgb(213, 227, 239);
}

.btn {
    background-color: rgb(21, 72, 106);
    width:32px;
    height:24px;
    align-self: flex-end;
    justify-self: end;
}

.addNoteForm {
    width:300px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;

}

.addNoteForm div {
    width:100%;
    text-align: center;
}

.note-title,.note-content {
    width:100%;
    border-radius: 5px; 
    border:grey solid 2px; 
}

.note-title {
    height:30px;
}

.note-content {
    height:90px;
}

.signup-form {
    text-align:center;
    background-color:rgb(21, 72, 106);
    color:white;
    width:360px;
    margin:auto;
    padding:20px;
}

.signup-form div {
    margin:10px;
    text-align: center;
}

.signup-form label {
    display:block;
    color:lightgray;
    margin-bottom: 4px;
    text-align: left;
}

.signup-form input {
    border: none ;
    outline:none;
    height:24px;
    width:100%;
}

.signup-form input:focus {
    background-color: rgb(226, 240, 244);
}

.signup-form .signin-login-link {
    color:rgb(181, 181, 246);
}

.signup-form .msg{
    display:block;
    color:rgb(181, 181, 246);
}

.form {
    text-align: center;
}

.small-input {
    margin:5px;
    border-radius: 8px;
    height:36px;
    width:420px;
    border-color: gray;
    border-style: inset;
    border-width: 1px;
}

.email-text {
    height:160px;
    width: 420px;
    border-radius: 8px;
    margin:5px;
    border-color: gray;
    border-style: inset;
    border-width: 1px;
}

button {
    border-radius: 6px;
    margin:10px;
    background-color: rgb(21, 72, 106);
    color:white;
    box-sizing: border-box;
    width: 70px;
    height: 30px;
    font-weight: bold;
}



@media only screen and (max-width: 750px) {
    .email-text {
        width:90%;
        height:100px;
    }
    .small-input {
        margin:5px;
        border-radius: 8px;
        height:30px;
        width:90%;
    }

    nav {
        height:35px;
        width:100%;
        padding-top: 15px;
    }

    .navBar {
        height:100%;
        color:white;
        font-size:18px;
        text-decoration: none;
        margin-right: 14px;
    }

    .notes-add {
        display:grid;
        grid-template-columns: 1fr;
        grid-gap:0;
    }

    h2 {
        font-size: 20px;
    }

}